<!DOCTYPE html>
<html>
  <head>
    <title>api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <style>
    .red {
      color: #c92e46;
    }
    .green {
      color: #279641;
    }

    .block {
      background: #fff;
      padding: 20px;
    }

    h3 {
      margin: 0;
    }
  </style>

  <body>

    <h1>Auth</h1>

    <div class="block">
      <h3>Sign in</h3>
      <div class="red">/auth/signin</div>
      <div class="green">{ "username": "my_username", "password": "my_password" }</div>
    </div>

    <div class="block">
        <h3>Sign up</h3>
        <div class="red">/auth/signin</div>
        <div class="green">{ "username": "my_username", "password": "my_password" }</div>
      </div>
  </body>
</html>
